<div class="header header-admin">
    <h1 class="header-title">Notebook Editor</h1>

        <div class="header-options" *ngIf="auth.isAuth()">
            <a routerLink="/" class="header-option">Main</a>
            <a [routerLink]="['/admin', 'dashboard']" class="header-option" routerLinkActive="active">Dashboard</a>
            <a [routerLink]="['/admin', 'create']" class="header-option" routerLinkActive="active">Create</a>
            <a href="#" (click)="logout($event)" class="header-option">logout</a>
        </div>
    
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>