<div 
class="card" 
(click)="goToNote(note.id)"
[ngClass]="{
    'card-red': note.color === 'red',
    'card-orange': note.color === 'orange',
    'card-yellow': note.color === 'yellow',
    'card-green': note.color === 'green',
    'card-cyan': note.color === 'cyan',
    'card-violet': note.color === 'violet',
    'card-rose': note.color === 'rose'
}"
>
    <div class="note-header">
        <h2>{{note.title}}</h2>
    </div>

    <div>
        <strong>{{note.author}}</strong>
        <small> {{note.date | date}}</small>
    </div>

    <div>
        <quill-view-html [content]="note.text"></quill-view-html>
    </div>

</div>

