@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

//RAINBOW
$base-red: rgb(255, 190, 190);
$base-orange: rgb(255, 230, 190);
$base-yellow: rgb(255, 255, 190);
$base-green: rgb(190, 255, 190);
$base-cyan: rgb(190, 255, 255);
$base-violet: rgb(190, 190, 255);
$base-rose: rgb(255, 190, 255);


//GRAY THEME
$text-color: #000;
$text-secondary-color: #666;
$text-ghost: $text-color;
$border-color-ghost: #aaa;

$base-element-color: #89cd5d;
$contrast-element-color: #dabcff;
$border-color: #6a329f;;
$hover-base-color: #eee;

$alert-color: red;

//ORANGE THEME
// $text-color: #32334C;
// $text-secondary-color: #32334C;
// $text-ghost: #3E3E60;
// $border-color-ghost: #F18EB7;
// $border-color: #F18EB7;
// $hover-base-color: #E1926B;
// $base-element-color: #DF6D35;
// $contrast-element-color: #fdedfd;
// $alert-color: red;

//BLUE THEME
// $text-color: #32334C;
// $text-secondary-color: #32334C;
// $text-ghost: #3E3E60;
// $border-color-ghost: #F18EB7;
// $border-color: #F18EB7;
// $hover-base-color: #a5deff;
// $base-element-color: #d4efff;
// $contrast-element-color: #fdedfd;
// $alert-color: red;


body {
    font-family: sans-serif;
    margin: 0;
    background: $border-color;
}

h1 {
    margin: 0.5rem;
    height: 2rem;
}
//HEADER
.header {
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $contrast-element-color;
    color: $text-color;
    box-shadow: 0 8px 10px -4px rgb(0 0 0 / 0.1), 0 4px 6px -5px rgb(0 0 0 / 0.1);
    margin-bottom: 1rem;
    width: 100%;
}
.header-admin{
    justify-content: space-between;
    align-items: stretch;
}

.header-title{
    font-size: 1.75rem;
    word-spacing: 0.5rem;
    padding-left: 1rem;
}

//wide options
.header-options-wide {
    display: none;
}
@media (min-width: 768px) {
    .header-options-wide {
        display: flex;
    }
}

.header-option {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: $text-secondary-color;
    padding: 2rem;

    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.875rem; /* 14px */
    line-height: 1rem; /* 20px */

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.header-option:hover {
    background-color: $hover-base-color;
    font-size: 1rem;
}
.active {
    font-size: 1rem;
    color: $text-color;
}

//thin options
.header-options-thin {
    display: none;
}
@media (max-width: 768px) {
    .header-options-thin {
        padding-right: 1rem;
        display: flex;
        align-items: center;
    }
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);

    border-radius: 0.5rem;
    background-color: $contrast-element-color;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 0.75rem;
    //inactive
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1rem);
    transition: 150ms ease-in-out;


    z-index: 2;
}
.dropdown-menu-active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}

.header-option-thin {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;

    text-decoration: none;
    color: $text-secondary-color;
    padding: 2rem;

    border-radius: 0.5rem;

    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.875rem; /* 14px */
    line-height: 1rem; /* 20px */

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    
}

.header-option-thin:hover {
    background-color: $hover-base-color;
}

.active-thin {
    font-size: 1rem;
    color: $text-color;
    background-color: $hover-base-color;
}

//content

.content {
    margin: 0.75rem;
    padding: 1.5rem;
    background-color: $base-element-color;
    color: #2a2a2a;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    min-height: 20rem;


    overflow-x: scroll;
}

.folder-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.root-input {
    height: 2rem;
    margin: 0.5rem;
    box-sizing: border-box;
}

.top-btn-div{
    display: flex;
    gap: 1rem;
    
}
.top-btn{
    flex-grow: 1;
}

.card {
    padding: 16px;
    background-color: $contrast-element-color;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    margin-bottom: 1rem;
}
.card-red{background-color: $base-red;}
.card-orange{background-color: $base-orange;}
.card-yellow{background-color: $base-yellow;}
.card-green{background-color: $base-green;}
.card-cyan{background-color: $base-cyan;}
.card-violet{background-color: $base-violet;}
.card-rose{background-color: $base-rose;}

.card:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.quill{
    word-break: break-all;
    height: 10rem;
}

// LOGIN
//old name .card-form
.auth-form {
    font-family: sans-serif;
    max-width: 23rem;
    margin: 0 auto;
    align-items: center;
}
//CREATE OR EDIT FORM

//old name .note-form
.content-form {
    font-family: sans-serif;
    max-width: 40rem;
    margin: 1rem auto;
}
.content-form-btns{
    max-width: 42rem;
    margin: 0 auto;
}

.form-control{
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
}

//INPUT
.form-input {
    width: 100%;
    height: 2rem;
    border: 0px;
    border-bottom: 2px solid $border-color;
    background: transparent !important;

    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */ 
}
.form-input-author-flex{
    display: flex;
    gap: 1rem;
}
.form-input-author{
    width: auto;
    flex-grow: 1;
}
.form-input-author-btn{
    flex-grow: 1;
}
.form-input:focus {
    border-bottom: 2px solid $border-color-ghost;

    outline: 2px solid transparent;
    outline-offset: 2px;
}
.form-input::placeholder {
    color: transparent;
}
.form-label {
    position: absolute;
    left: 0;
    top: -1.25rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;     
}
.form-input:placeholder-shown + .form-label {
    top: 0.5rem;

    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */   
    color: $text-ghost; 
}
.form-input:focus + .form-label {
    top: -1.25rem;

    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: $text-color;
}

.form-selection {
    font-size: 1rem;
    height: 2rem;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
}


.submit-element{
    display: flex;
}
.error-description{
    color: $alert-color;
    padding-left: 1rem;
    text-transform: uppercase;
    align-self: center;
}

.form-validation {
    position: absolute;
    padding-top: 0.125rem;
    color: $alert-color;
}

.invalid {
    color:$alert-color;
    h2 {color:#333;}
}


//NOTE
.note-header {
    display: flex;
}


//TABLE
.table {
    font-family: sans-serif;

    width: 100%;

    border-spacing: 0;
    border: 2px solid $text-secondary-color;
    border-radius: 0.5rem;
    background: $contrast-element-color;
}
//table head
.table-head-cell{
    background: $hover-base-color;
    
    text-align: start;
    color: $text-color;
    padding: 0.5rem;
    border-right: 1px solid $text-secondary-color;
    border-bottom: 1px solid $text-secondary-color;
}
.table-head .table-head-cell:first-child {
    border-radius: 0.3rem 0 0 0;
}
.table-head .table-head-cell:last-child {
    border-right: 0;
    border-radius: 0 0.3rem 0 0;
}

//table body
.table-body-cell{
    text-align: start;
    color: $text-color;
    padding: 0.5rem;
    border-right: 1px solid $text-secondary-color;
    border-bottom: 1px solid $text-secondary-color;
}
.table-body tr:last-child .table-body-cell{
    border-bottom: 0;
}
.table-body .table-body-cell:last-child {
    border-right: 0;
}

.dashboard-input {
    background: $base-element-color;
    width: 100%;
    height: 2rem;
    border: 0px;
    border-bottom: 2px solid $border-color;

    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */ 
}

//buttons
.btn {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem; 
    line-height: 1rem; 

    
    background-color: $contrast-element-color;

    
    color: $text-color;

    border: 1px solid $hover-base-color;
    border-radius: 0.5rem;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.btn-minimize{
    line-height: 0.75rem; 
    padding: 1rem;
    align-self: center;
    text-align: center;
    border-radius: 2rem;
}

.btn:hover {
    background-color: $hover-base-color;
}
.btn:disabled {
    background-color: $hover-base-color;
    color: $text-ghost;
}
.not-btn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font-family: inherit;
	outline: inherit;
}

//FOOTER
.footer {
    font-family: sans-serif;
    margin-top: 1rem;
    background-color: $base-element-color;
    color: $text-color;
}
.footer-bot {
    padding: 24px;
    text-align: center;
    background-color: $hover-base-color;
}
.link{
    text-decoration: none;
    color: $text-secondary-color;
}
.semibold{
    font-weight: 600;
}

//LOADING
.load{
    margin: auto;
    border: 1rem solid $hover-base-color;
    border-radius: 50%;
    border-top: 1rem solid $border-color;
    width: 10rem;
    height: 10rem;
    animation: rotate 2s linear infinite;
}
.load-mini{
    width: 0.75rem;
    height: 0.75rem;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}



.mb-1 {
    margin-bottom: 1rem;
}

.mr-1{
    margin-right: 1rem;
}


//SVG
.svg-icon {
    width: 1.5em;
    height: 1.5em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: $text-secondary-color;
} 
.svg-icon circle {
    stroke: $text-secondary-color;
    stroke-width: 1;
}