<table class="table">
    <thead class="table-head">
        <tr>
            <th >#</th>
            <th>Author</th>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr *ngFor="let note of notes; let idx = index">
            <td>{{idx+1}}</td>
            <td>{{note.author}}</td>
            <td>{{note.title}}</td>
            <td>{{note.date | date: 'medium'}}</td>
            <td>
                <button [routerLink]="['/admin', 'note',  note.id, 'edit']">Edit</button>
                <button>Remove</button>
            </td>
        </tr>
    </tbody>
</table>