<table class="table">
    <thead>
        <tr class="table-head">
            <th class="table-head-cell">#</th>
            <th class="table-head-cell">Author</th>
            <th class="table-head-cell">Title</th>
            <th class="table-head-cell">Date</th>
            <th class="table-head-cell">Actions</th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr *ngFor="let note of notes; let idx = index">
            <td class="table-body-cell">{{idx+1}}</td>
            <td class="table-body-cell">{{note.author}}</td>
            <td class="table-body-cell">{{note.title}}</td>
            <td class="table-body-cell">{{note.date | date: 'medium'}}</td>
            <td class="table-body-cell">
                <button [routerLink]="['/admin', 'note',  note.id, 'edit']" class="btn">Edit</button>
                <button class="btn">Remove</button>
            </td>
        </tr>
    </tbody>
</table>