

<div class="mb-1 top-btn-div">
    <button *ngIf="folderId !== 'none'" class="btn top-btn" (click)="goToUpperFolder(parentFolder)">back</button>
    <button *ngIf="logged" class="btn top-btn" (click)="goToCreateFolder()">New Folder</button>
    <button *ngIf="logged" class="btn top-btn" (click)="goToCreateNote()">New Note</button>
</div>

<h1 *ngIf="folderId !== 'none'">{{folderName}}</h1> <h1 *ngIf="folderId === 'none'">Notes</h1>

<div *ngIf="folders$| async as folders; else loading">
    <div *ngIf="notes$ | async as notes; else loading">
        <h3 *ngIf="folders.length>0">Folders</h3>
        <app-folder
        *ngFor="let folder of folders" 
        [folder]="folder"
        ></app-folder>

        <h3 *ngIf="notes.length>0">Notes</h3>
        <app-note
        *ngFor="let note of notes" 
        [note]="note"
        ></app-note>

    </div>
</div>






<ng-template #loading>
    <div class="load"></div>
</ng-template>