<p>create-page works!</p>
<form class="card note-form" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create new note</h1>
    <div id="form-title" class="form-control" [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}">
        <input id="form-title-input" name="form-title-input" formControlName="title" class="form-input" type="text" placeholder="Title">
        <label class="form-label" for="form-title-input">Title</label>
        <div *ngIf="form.get('title')?.touched" class="form-validation">
            <small *ngIf="form.get('title')?.errors?.['required']">Cannot be empty</small>
        </div>
    </div>

    <div class="form-control">
        <label>Note</label>
        <quill-editor formControlName="text" ></quill-editor>
    </div>

    <div id="form-author" class="form-control" [ngClass]="{invalid: form.get('author')?.touched && form.get('author')?.invalid}">
        <input id="form-author-input" name="form-author-input" formControlName="author" class="form-input" type="text" placeholder="author">
        <label class="form-label" for="form-author-input">Author</label>
        <div *ngIf="form.get('author')?.touched" class="form-validation">
            <small *ngIf="form.get('author')?.errors?.['required']">Cannot be empty</small>
        </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Create note</button>
</form>