<div class="mb-1 top-btn-div">
    <button class="btn top-btn" (click)="goToMain()">Return</button>
</div>
<div class="card"  *ngIf="note; else loading">
    <div class="note-header">
        <h2>{{note.title}}</h2>
    </div>

    <div>
        <strong>{{note.author}}</strong>
        <small> {{note.date | date}}</small>
    </div>

    <div>
        <quill-view-html [content]="note.text"></quill-view-html>
      
    </div>

</div>
<ng-template #loading>
    <div class="load"></div>
</ng-template>